* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formWindow {
  width: 900px;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 10px #d9d9d9;
}

.formWindowTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.profileForm {
  width: 400px;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 10px #d9d9d9;
}

.dropDown {
  margin-left: 60px;
}

.header {
  background-color: white;
  border: 1px solid #f0f0f0;
  display: flex;
}

.header,
ul {
  justify-content: space-between;

}

.auth {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainSection {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchSection {
  height: calc(100vh - 84px);
  margin-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo>p {
  color: #0e78ff;
  margin-left: 10px;
  line-height: 16px;
}

.navmenu {
  border-bottom: 0px;
  margin-right: 18px;
}

.mainnav {
  display: flex;
}

.linkFom {
  margin-left: 20px;
}

.blockWelcome {
  display: flex;
  align-items: center;
}

.blockWelcome>img {
  width: 260px;
  height: 260px;
}

.blockWelcome__title {
  color: #0e78ff;
}

.blockWelcome__information {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 470px;
}